@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@500&family=Dancing+Script&family=Exo+2&family=Fira+Sans:wght@300&family=Fredoka&family=Merriweather:wght@400;900&family=Montagu+Slab:wght@600&family=Mulish:ital,wght@1,300&family=Nunito+Sans&family=Nunito:wght@300&family=Oswald&family=Roboto:wght@300&family=Rubik:ital,wght@0,500;1,300&family=Shippori+Antique+B1&family=Signika:wght@300&family=Source+Sans+Pro:wght@700&family=Spline+Sans:wght@500&family=Ubuntu&family=Varela+Round&family=Work+Sans:wght@700&family=Yanone+Kaffeesatz:wght@700&display=swap');
.cart
{
    background-image: none;
    background-color: #EAEDED;
    font-family: 'Fredoka', sans-serif;
}

.card
{
   background-color: #EFFFFD;
   min-height: 363px;
   margin-left: 2rem;
}

.cart-empty
{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    
}

.product__title
{
  color: #111;
  font-weight: bold;
}

.product__price
{
    font-size: large;
    position: relative;
    top: 20px;
    text-align: right;
}

.display-6
{
    font-weight: bolder;
    color: #F473B9;
}

.t_p
{
    font-size: large;
    position: relative;
    
    text-align: right;
    font-weight: bolder;
}

img
{
    width: 150px;
    height: auto;
    
    margin-right: 10px;
}

.total__price
{
    font-size: large;
    font-weight: bolder;
    color: #0E185F;
}

.cart__clear button
{
    margin: auto;
    display: block;
    width: 30%;
    
}

.cart items button{
    margin: auto;
    display: block;
    width: 10%;
}