@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@500&family=Dancing+Script&family=Exo+2&family=Fira+Sans:wght@300&family=Fredoka&family=Merriweather:wght@400;900&family=Montagu+Slab:wght@600&family=Mulish:ital,wght@1,300&family=Nunito+Sans&family=Nunito:wght@300&family=Oswald&family=Roboto:wght@300&family=Rubik:ital,wght@0,500;1,300&family=Shippori+Antique+B1&family=Signika:wght@300&family=Source+Sans+Pro:wght@700&family=Spline+Sans:wght@500&family=Ubuntu&family=Varela+Round&family=Work+Sans:wght@700&family=Yanone+Kaffeesatz:wght@700&display=swap');


/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
    font-family: 'Varela Round', sans-serif;
}
.nav-item,.nav-link,a{
    color: #131921;
    font-family: 'Varela Round', sans-serif;
}

.nav-link:hover
{
    
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar
{
    display: flex;
    
    background-color: #F7E2E2;
    color: #131921;
}

a
{
    text-decoration: none;
}

@media screen and (max-width: 780px)
{
    .logo
    {
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }

    .nav_links
    {
        display: none;
    }

    .nav_links_mobile
    {
        position: absolute;
        display: flex;
        list-style: none;
        background-color: #0E185F;
        color: white;
        left: 0px;
        top: 75px;
        width: 100%;
        transition: all 0.5sec ease-out;
    }

    li
    {
        list-style: none;
        color: white;
        text-align: center;
        width: 100px;
        transition: all 0.5sec ease-out;
    }

    .mobile_menu_icon
    {
        background-color: #0E185F;
        color: white;
        
    }
}
.header
{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo
{
    width: 100px;
    object-fit: contain;
    margin: 0px 20px;
    margin-top: 12px;
}
.header__search
{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.searchInput
{
    border-radius: 5px;
    width: 50px;
    height: 10px;
    padding: 12px;
    border: none;
    width: 100%;
}
.searchIcon
{
    min-height: 37px;
    min-width: 37px;
    padding: 5px;
    background-color: rgb(170, 122, 33);
}
.header__nav
{
    display: flex;
    justify-content: space-evenly;
}
.header__navitem
{
   display: flex;
   flex-direction: column;
   color: white;
   margin-left: 12px;
   margin-right: 12px;
}

.header_naviteml1
{
    font-size: 10px;
    color: white;
    
}

.s1
{
    text-decoration-style: none;
}

.header_naviteml2
{
    font-size: 15px;
    font-weight: 620;
    font-family: 'Source Sans Pro', sans-serif;
}

.header__cart
{
    display: flex;
    align-items: center;
    color: white;
}

.icon:hover
{
    color: #9AD0EC;
}
.header__cartCount
{
    margin: 10px;
}

.cart__length
{
    font-weight: 700;
    color: #FFD365;
    
}

.mobile_menu_icon
{
    display: none;
} */



* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #1177ca;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  .nav > .nav-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;

  }
  .nav > .nav-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
    
  }
  .nav > .nav-links > ul li{
    display: inline-block;
    background-color: #1177ca;
    
    
  }
  .nav > .nav-links > ul li:hover{
      background-color: #0b65af;
      border-radius: 5px;
  }
  
  .nav > #nav-check {
    display: none;
  }

 .nav .nav-links ul a.icon{
 margin-left: 80px;
 margin-right: 10px;
 }

 .nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }

  
  @media (max-width:750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      width: 100%;
    }

    /*   */


    
      .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: #333;
         
      }
      .nav > .nav-links > ul li a{
          margin-left: 40%;
      }
      .nav .nav-links ul a.icon{
        margin-left: 33%;
      }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }