

.home__img
{
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.btn
{
  width: 40%;
  border-radius: 5%;
  background-color:white;
  color: red;
  text-transform: uppercase;
}

.btn:hover
{
  text-transform: uppercase;
  background-color: red;
  color: white;
}