@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@500&family=Dancing+Script&family=Exo+2&family=Fira+Sans:wght@300&family=Merriweather:wght@900&family=Montagu+Slab:wght@600&family=Mulish:ital,wght@1,300&family=Nunito+Sans&family=Nunito:wght@300&family=Oswald&family=Roboto:wght@300&family=Rubik:ital,wght@0,500;1,300&family=Shippori+Antique+B1&family=Signika:wght@300&family=Source+Sans+Pro:wght@700&family=Spline+Sans:wght@500&family=Ubuntu&family=Work+Sans:wght@700&family=Yanone+Kaffeesatz:wght@700&display=swap');

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  text-align: left;
  min-width: 100px;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  z-index: 1;
}
.product__title
{
  color: #111;
  font-weight: bold;
}


.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__price
{
  font-weight: bolder;
}
.product:hover
{
  filter: drop-shadow(20px 20px 6px #FDEBF7);
  width: 100%;
  box-shadow: 0px 20px 40px 0px rgba(61, 65, 84, 0.15);
}
button
{
  margin: 5px;
}

.btn-gradient
{
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  padding: 2px;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}


button:hover
{
  color: #FDEBF7;
}